.time-table-container{
    /* border:1px solid red; */
    height:100vh;
    background-color: lightblue;
}

.button-container{
    border:1px solid red;
    text-align: end;
}

.create-button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #04AA6D;
    cursor: pointer;
  }
.group-container{
    /* border:2px solid red; */
    display: flex; 
    height: calc(100vh - 60px);
   
}
.display-tasks{
    border:2px solid red;
    flex-basis: 25%;
    overflow-y: auto;
}
.time-table{
    border:2px solid red;
    flex-basis: 75%;
}