.time_table_container{
    /* border:1px solid red; */
    height:100vh;
    background-color: lightblue;
}

.button_container{
    /* border:1px solid red; */
    text-align: end;
}

.create_button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #04AA6D;
    cursor: pointer;
  }
.group_container{
    /* border:2px solid red; */
    display: flex; 
    height: calc(100vh - 60px);
   
}

/* Displaying Tasks */
.display_tasks{
    /* border:2px solid red; */
    flex-basis: 25%;
    overflow-y: auto;
    position: relative;
    padding: 10px;
    font-size: 20px;
}

.display_tt{
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ccc;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.display_tt span{
    font-weight: 600;
}

.selected{
    background-color:#04AA6D;
    color:white;
}
.time_table{
    /* border:2px solid red; */
    flex-basis: 75%;
    padding: 15px;
}

.input_group{
    display: flex;
    /* border:1px solid red; */
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.input_group_item1{
    flex-basis: 30%;
    text-align: end;
    font-weight: 500;
    margin-right: 5px;
}
.input_group_item2{
    /* border:1px solid red; */
    flex-basis: 50%;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }