/* .050f10 */
/* .b08e54 */
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.videoplayer,.bookkeeper,.countdown,.musicplayer,.hotel-management{
  background-color:  #04AA6D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.videoplayer:hover,.bookkeeper:hover,.countdown:hover,.musicplayer:hover,.hotel-management:hover{
  background-color:  #005a39;
}

.register-link,.login-link{
  border:1px solid #b08e54;
  border-radius: 5px;
  margin-right: 5px;
}
.register-link:hover,.login-link:hover{
  background-color:#b08e54;
}
