/* #050f10 */
/* #b08e54 */
a:link, a:visited {
    background-color: #04AA6D; /* Green */
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

a:hover, a:active {
    background-color:green;
  }